<nav>
    <div style="width:5%; padding-left: 1%;">
      <img class="image" layout-align="center center" src="https://github.com/mickablondo/cv/assets/36310658/2cd167c2-2f82-43e5-8338-fd229ac9906a" alt="Avatar" style="width:200px">
    </div>
    <div style="width:95%;  text-align: center !important;">
        <a class="button" routerLink="/experiences" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Expériences</a> |
        <a class="button" routerLink="/formations" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Formations</a> |
        <a class="button" routerLink="/projects" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Projets personnels</a>
    </div>
    <div style="padding-right: 1%;">
      <a href="https://github.com/mickablondo">
        <i class="fa fa-github" style="font-size:50px"></i>
      </a>
    </div>
</nav>

<div style="text-align: center !important; width: 100%;">
  <h1>CV de Mickaël BLONDEAU</h1>
</div>

<router-outlet></router-outlet>

<footer>
      <div layout="row" layout-align="center center" style="text-align: center !important;" flex>
        <a class="contact-button" href="mailto:mickael.blondeau@babel.coop" target="_blank" alt="Contacter par mail">Contact</a>
      </div>
</footer>