<nav>
    <img class="image" src="https://github.com/mickablondo/cv/assets/36310658/2cd167c2-2f82-43e5-8338-fd229ac9906a" alt="Avatar" style="width:200px">
    <a class="button" routerLink="/experiences" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Expériences</a> |
    <a class="button" routerLink="/formations" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Formations</a> |
    <a class="button" routerLink="/projects" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Projets réalisés</a>
</nav>
<h1>CV</h1>
<router-outlet></router-outlet>
<footer>
      <div layout="row" layout-align="center center" flex>
        Contact : ...
      </div>
</footer>